# Server Configuration
SERVER_HOST=
SERVER_PORT=
DEBUG=
# Collage Output Directory (where generated collages are saved)
COLLAGE_OUTPUT_DIR=

# Directus URL
DIRECTUS_URL=
# Logger Configuration
LOG_LEVEL=
LOG_ROTATE=
LOG_PATH=
LOG_MAX_BYTES=
LOG_BACKUP_COUNT=
LOG_FILE_WRITE=
LOG_FORMAT_FULL=
