# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
DEBUG=False
# Collage Output Directory (where generated collages are saved)
COLLAGE_OUTPUT_DIR=./output

# Directus URL
DIRECTUS_URL=
# Logger Configuration
LOG_LEVEL=INFO
LOG_ROTATE=False
LOG_PATH=./logs
LOG_MAX_BYTES=1000000
LOG_BACKUP_COUNT=3
LOG_FILE_WRITE=True
LOG_FORMAT_FULL=True
