# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=collagrcms

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
DEBUG=False

# Logger Configuration
LOG_LEVEL=INFO
LOG_ROTATE=False
LOG_PATH=./logs
LOG_MAX_BYTES=1000000
LOG_BACKUP_COUNT=3
LOG_FILE_WRITE=True
LOG_FORMAT_FULL=True